body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.book-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px; /* Fixed height for the card */
}

.book-image {
    flex-shrink: 0;
    width: 150px; /* Fixed width for image */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.book-image img {
    max-height: 100%;
    width: 100%; /* Make the image width responsive */
    object-fit: cover;
    border-radius: 5px;
}

.book-details {
    flex-grow: 1;
    padding: 15px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.book-author {
    color: #666;
    margin-bottom: 10px;
}

.book-desc, .book-abstract {
    font-size: 14px;
    color: #555;
}

.book-actions {
    margin-top: 10px;
}

.buttons form {
    display: inline-block;
    margin-right: 10px;
}

.btn {
    font-size: 14px;
}

/* Responsive design */
@media (max-width: 768px) {
    .book-card {
        flex-direction: row; /* Keep in landscape mode on mobile */
        height: auto; /* Allow height to adjust based on content */
    }

    .book-image {
        width: 50%; /* Use half of the available width for the image on mobile */
        height: auto; /* Adjust height for mobile layout */
    }

    .book-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Maintain aspect ratio without stretching */
    }

    .book-details {
        flex-grow: 0; /* Allow the text area to not take more space than required */
        padding: 10px;
    }

    .book-title {
        font-size: 16px;
    }

    .book-author {
        font-size: 14px;
    }

    .book-desc {
        display: none; /* Hide the description on mobile */
    }

    .book-abstract {
        font-size: 12px;
    }
}
